<div id="appHeader">
    <div class="leftCont floatLeft">
        <div class="logo">
            <img src="images/NEC_Logo.png" alt="">
        </div>
    </div>
    <span class="clear"></span>
</div>
<a ui-sref=".signIn">sininpage</a>

<div id="contWrapper" class="darkBack" ui-view></div>