
<div class="loginMain">
    <div class="loginSec">
        <div class="logTitle midTitle centerTxt roboRegular">Sign Up</div>
        <ul class="form marginTop">
            <li><input type="text" placeholder="Username" class="subNormal" ng-model="user.username"></li>
            <li><input type="password" placeholder="Password" class="subNormal" ng-model="user.password"></li>
            <li><input type="text" placeholder="Email" class="subNormal" ng-model="user.email"></li>
            <li><input type="text" placeholder="FirstName" class="subNormal" ng-model="user.firstName"></li>
            <li><input type="text" placeholder="LastName" class="subNormal" ng-model="user.lastName"></li>
        </ul>
        <div class="loginBtn subNormal" ng-click="signUp(user)" >SignUp</div>
    </div>
    <div>
    </div>
</div>