doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
       link(rel='stylesheet', href='/stylesheets/style.css')
       link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')

  body
    block content
